$grey-bkgr: #807b70;
$dark-grey: rgb(51, 51, 51);

$brown-grey: rgb(216, 204, 179);
$yellow: rgb(246, 203, 98);
$pink: rgb(251, 162, 151);
$blue: rgb(68, 199, 170);
$orange: rgb(230, 116, 0);

/*Grey:
R=216 G=204 B=179
opacity = 100%

Yellow:
R=246 G=203 B=98
opacity = 100%

Pink:
R=251 G=162 B=151
opacity = 100%

Blue:
R=68 G=199 B=170
opacity = 60%

Orange:
R=230 G=116 B=0
opacity = 60% */



/** Not in use **/
/*$brown-red: #664C4B;
$pastel-green: #C7E2C3;
$yellow-beige: #F8F4C7;
$beige: #E3D0A6;
$yellow: #FFF560;
$turqoise: #2EE0AE;
$dark-purple: #2d1f33;

$light-mint: rgb(220, 244, 221);

$pastel-turqoise: rgb(118, 213, 196);
$pastel-green: rgb(117, 184, 87);
$pastel-ochre: rgb(245, 197, 80);
$pastel-orange: rgb(252, 161, 70);
$pastel-red: rgb(254, 148, 144);
$pastel-red-orange: rgb(253, 97, 42);

$pastel-ochre-orange: rgb(253, 130, 25);

$pastel-blue: #a3e6d9;
$pastel-yellow: #f7f4aa;*/
/*****/
