$grey-bkgr: #807b70;

$brown-red: #664C4B;
$pastel-green: #C7E2C3;
$yellow-beige: #F8F4C7;
$beige: #E3D0A6;
$yellow: #FFF560;
$turqoise: #2EE0AE;
$dark-purple: #2d1f33;

$light-mint: rgb(220, 244, 221);

$pastel-turqiose: rgb(118, 213, 196);
$pastel-green: rgb(117, 184, 87);
$pastel-ochre: rgb(245, 197, 80);
$pastel-orange: rgb(252, 161, 70);
$pastel-red: rgb(254, 148, 144);
$pastel-red-orange: rgb(253, 97, 42);


$pastel-ochre-orange: rgb(253, 130, 25);
