$grey-bkgr: #807b70;

$brown-red: #664C4B;
$pastel-green: #C7E2C3;
$yellow-beige: #F8F4C7;
$beige: #E3D0A6;
$yellow: #FFF560;
$turqoise: #2EE0AE;
$dark-purple: #2d1f33;

$light-mint: rgb(220, 244, 221);
