.venn-diagram {
  position: relative;
  z-index: -1;
  display: flex;

  .circle {
    border-radius: 50%;
	  width: 50vw;
	  height: 50vw;
    opacity: 0.4;
    position: relative;
    z-index: -1;
    right: -10vw;

    &:nth-child(2){
      z-index: -3;
      left: -10vw;
      right: -20vw;
    }
  }
}

.third-circle {
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  opacity: 0.4;
  position: relative;
  z-index: 0;
  top: -25vw;
  left: 25vw;
}

.blue {
  background-color: $blue;
}

.yellow {
  background-color: $yellow;
}

.pink {
  background-color: $pink;
}
