header {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  //background-color: $beige;
}

.hero-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 100px 0 50px;
  display: flex;
  justify-content: space-between;

  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo {
      max-height: 150px;
    }
  }



  .hero-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: $railway;
    font-weight: bolder;
    font-size: 30px;

    .small-title {
      font-size: 18px;
      font-weight: normal;
    }
  }
}

.menu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    font-family: $railway;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;

    a {
      text-decoration: none;
      font-size: 17px;
      color: $dark-purple;
      padding: 20px;
    }

    a:hover {
      color: $turqoise;
    }
  }
}
